bin/
tests/
out/

.DS_Store
build/
*/build/
.gradle/
.idea/
*.iml
*.apk/
myapplication
#AbTestDemo
android_sdk_v0/myrelease
captures/
local.properties
AbTestDemo/libs/
gradle/
#android_sdk_v0/app/copy.gradle
sdk-mapping/
