<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaobailong_student.bluetoothfaultboardcontrol"
    android:versionCode="2"
    android:versionName="2.0">

    <uses-sdk
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.xiaobailong_student.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/chebiao"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xiaobailong_student.bluetoothfaultboardcontrol.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xiaobailong_student.bluetoothfaultboardcontrol.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.xiaobailong_student.titile.WriteTitleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.xiaobailong_student.activity.PasswordSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.xiaobailong_student.activity.AddFileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.xiaobailong_student.activity.ShowResultActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>